 /* h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
    color: yellow;
    text-align: center;
    font-size: 30px;
    background-color: rgb(2, 8, 15);
  }

  body {
    font-family:Arial, Helvetica, sans-serif;
    font-style: normal;
    color: yellow;
    text-align: left;
    font-size: 16px;
    background-color: rgb(2, 8, 15);
  }

  .button {
    background-color:#f9d805;
    border: 3px solid red;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    transition-duration: 0.5s;
    width: 100px;
    display: block;
    cursor: pointer;
  }

  .button:hover {
    background-color: darkblue;
    color: white;
  }

  /* unvisited link */
/* a:link {
  color: whitesmoke;
}

/* visited link */
/* a:visited {
  color: red;
}

/* mouse over link */
/* a:hover {
  color: rgb(66, 161, 169);
} */

/* selected link */
/* a:active {
  color: blue;
/* } */ */ */ */ */

* {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

p {
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  color: yellow;
  text-align: left;
  font-size: 16px;
  background-color: rgb(2, 8, 15);
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 50px;
}

table, th, td {
  border: 0.5px solid yellow;
  border-collapse: collapse;
}

.head {
  order: 3;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  font-family: Helvetica;
  background-color:#000000
}

aside {
  color: yellow;
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* default */
  height: 100%;
  width: 200px;
  font-size: 20px;
  margin: 10px;
  color: yellow;
}

main {
  color: yellow;
  width:100%;
  height:90%;
}

.wrapper {
  width: 100%;
}

main h1 {
  justify-content:baseline;
  color: yellow;
  padding-left: 20%;
}

footer {
  color: yellow;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: yellow;
  }

  a:hover {
    color: blue;
  }

  /* a:visited {
    color:aliceblue
  } */
}

 /* Style the form element with a border around it */
 form {
  border: 4px solid yellow;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 10px;
  background-color: #black;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 25%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid yellow;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: blue;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
} 